body {
  background-color: #125C8C;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}

.main-logo {
  width: 100px;
  text-align: center;
  margin: 50px auto 20px;
  display: block;
}

.main-title {
  margin: 20px auto 10px;
  text-align: center;
  font-size: 58px;
  font-weight: 400;
}

.main-title .part-1 {
  font-weight: 300;
}

.main-subtitle {
  margin: 10px auto;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
}

.links {
  text-align: center;
  font-size: 18px;
}
a {
  color: #e8aa21;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.description {
  color: #ddd;
  margin: 50px auto;
  max-width: 700px;
  font-size: 20px;
  /*font-weight: 300;*/
}
